<nav class="navbar navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Blog do Node</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Pesquisa" aria-label="Search">
      <button class="btn btn-danger" type="submit">Busca</button>
    </form>
  </div>
</nav>