<nav class="navbar navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Blog do Node</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Pesquisa" aria-label="Search">
      {{#if user}}
      <a href="/usuarios/logout" class=" btn btn-outline-danger my-2 my-sm-0 ">Logout</a>
      {{else}}
      <ul class="navbar-nav mt-auto">
        <li class="nav-item active">
          <a href="/usuarios/registro" class=" btn btn-outline-danger my-2 my-sm-0  " >Registrar</a>
        </li>
        <li class="nav-item active">
          <a href="/usuarios/login" class=" btn btn-outline-danger my-2 my-sm-0  " >Logar</a>
        </li>
      </ul>
      
      
      {{/if}}
      
    </form>
  </div>
</nav>