<nav class="navbar navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Blog do Node</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Pesquisa" aria-label="Search">
      {{#if user}}
      <a href="/usuarios/logout" class="nav-link btn btn-outline-danger my-2 my-sm-0">Logout</a>
      {{else}}
      <a href="/usuarios/registro" class="nav-link btn btn-outline-danger my-2 my-sm-0">Registrar</a>
      <a href="/usuarios/login" class="nav-link btn btn-outline-danger my-2 my-sm-0" >Logar</a>
      {{/if}}
      
    </form>
  </div>
</nav>